body {
  font-family: "Nunito", sans-serif;
}

/* Personaliza la barra de desplazamiento para navegadores basados en WebKit */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento */
  height: 10px;
  position: absolute;
  left: 0;
}

::-webkit-scrollbar-track {
  background: #334155; /* Color de fondo del riel */
}

::-webkit-scrollbar-thumb {
  background-color: #a16207; /* Color del thumb */
  border-radius: 6px; /* Bordes redondeados */
  border: 3px solid #fff; /* Borde en el thumb con el mismo color que el track para dar efecto de 'margen' */
}

.mi-altura {
  height: 54.4rem;
}

.recharts-tooltip-cursor {
  fill: rgba(20, 20, 40, 0.4);
}

li:last-child {
  border-radius: 0px 0px 5px 5px;
}

.shadow-inset-cmg {
  box-shadow: inset 0px -40px 200px -100px #ee0909;
}
.scroll-container {
  overflow: hidden; /* Oculta el desbordamiento del contenedor exterior */
}

.scroll-content {
  overflow-y: auto; /* Habilita el desplazamiento vertical en el contenedor interno */
  margin-right: -6px; /* Ajusta este valor al ancho de tu barra de desplazamiento */
}

.medidas {
  max-height: 85vh; /* O el porcentaje que se ajuste a tu diseño */
}

.medidas-1 {
  height: 58vh;
  max-height: 58vh;
  /* O el porcentaje que se ajuste a tu diseño */
}

.medidas-2 {
  height: 29vh;
  max-height: 29vh;

  /* O el porcentaje que se ajuste a tu diseño */
}

.medidas-3 {
  height: 22.9vh;
  max-height: 22.9vh;

  /* O el porcentaje que se ajuste a tu diseño */
}

.fecha-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.fecha-input:focus {
  outline: none; /* Opcional: elimina el contorno azul predeterminado */
}

/* Agrega esto a tu archivo CSS */
.custom-title-padding {
  padding: -6px; /* Ajusta este valor según sea necesario */
  margin: -2;
  background-color: #ee0909;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}

.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

/* Asegúrate de que estas reglas CSS están aplicadas correctamente */
input[type="checkbox"]:checked {
  background-color: #eab308; /* Cambia el fondo a verde cuando está marcado */
  border-color: #eab308; /* Cambia el color del borde */
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  /* width: 1.5rem;
  height: 1.5rem; */
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  border-radius: 100%;
  padding: 5px;
}

input[type="checkbox"]:checked::before {
  display: block;
  text-align: center;
  color: white; /* Color del símbolo de check */
  font-size: 1.6rem; /* Tamaño del símbolo de check */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 600ms linear;
  background-color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* Clase para el fondo resaltado */
.bg-highlight {
  background-color: rgb(69, 69, 68); /* Color de fondo resaltado */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink-animation {
  animation: blink 1s linear infinite;
}

.t-100 {
  position: absolute !important;
  z-index: 10000000 !important;
  background: #ee0909 !important;
}
